# Database
POSTGRES_PASSWORD=car_pass

# Keycloak
KEYCLOAK_ADMIN_PASSWORD=admin

# Email (Yandex)
MAIL_ENABLED=false
MAIL_HOST=smtp.yandex.ru
MAIL_PORT=465
MAIL_USERNAME=your-email@yandex.ru
MAIL_PASSWORD=your-app-password

# Kafka
CLAIM_NOTIFICATIONS_KAFKA_ENABLED=true

# Gateway URL for production
REACT_APP_API_URL=http://localhost:8090